[Unit]
Description=Weather Info

[Service]
ExecStartPre=/bin/systemctl stop start
ExecStartPre=/bin/sleep 0.1

EnvironmentFile=/etc/environment
ExecStart=/opt/weatherapp -platform eglfs
Restart=always
RestartSec=2

ExecStopPost=/bin/systemctl start start

[Install]
WantedBy=multi-user.target
