[client]
#password					= password
port						= 3306
socket						= /var/lib/mysql/mysql.sock

[mysqld_safe]

[mysqld]
user 						= mysql
port 						= 3306
socket 						= /var/lib/mysql/mysql.sock
pid-file 					= /var/lib/mysql/mysqld.pid
log-error 					= /var/log/mysqld.err
basedir 					= /usr
datadir 					= /var/lib/mysql
skip-external-locking
ignore-builtin-innodb
default-storage-engine 		= myisam


#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

