[Unit]
Description=WPA supplicant
Wants=network.target
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/wpa_supplicant -Dnl80211 -iwlan0 -c/etc/wpa_supplicant.conf -B
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

