[Unit]
Description=minidlna server
After=network.target local-fs.target

[Service]
Type=forking
ExecStart=/usr/sbin/minidlnad
PIDFile=/var/run/minidlna/minidlna.pid

[Install]
WantedBy=multi-user.target
