[Unit]
Description=Alarm Snooze

[Service]
ExecStartPre=/bin/bash /opt/serviceHelper.sh alarm_snooze.service start
Restart=on-failure
RestartSec=5s
ExecStart=/opt/alarm snooze

ExecStartPost=/bin/systemctl start alarm_gui.service

[Install]
WantedBy=multi-user.target
