[Unit]
Description=Alarm Snooze

[Service]
ExecStartPre=/bin/systemctl stop start.service
ExecStartPre=/bin/systemctl stop mpc_mediaserver.service

Restart=on-failure
RestartSec=5s
ExecStart=/bin/bash /opt/alarm.sh snooze

ExecStartPost=/bin/sleep 0.1
ExecStartPost=/bin/systemctl start alarm_gui.service

[Install]
WantedBy=multi-user.target
