[Unit]
Description=Alarm

[Service]
ExecStartPre=/bin/systemctl stop start.service

ExecStart=/bin/bash /opt/alarm.sh

ExecStartPost=/bin/sleep 0.1
ExecStartPost=/bin/systemctl start alarm_gui.service

[Install]
WantedBy=multi-user.target
