[Unit]
Description=Alarm

[Service]
EnvironmentFile=/etc/systemdVariables
ExecStartPre=/bin/systemctl stop screensaver
ExecStart=/bin/bash /opt/alarm.sh
ExecStartPost=/bin/systemctl restart start

ExecStopPost=/bin/systemctl $ARG1 start


[Install]
WantedBy=multi-user.target
