[Unit]
Description=Starts Psplash Boot screen
Wants=systemd-vconsole-setup.service
After=systemd-user-sessions.service
DefaultDependencies=no

[Service]
Type=onesshot
ExecStart=/usr/bin/psplash -n

[Install]
WantedBy=multi-user.target

