[Unit]
Description=Bluetooth to Snapcast autoplug daemon
After=network.target sound.target bluetooth.target pulseaudio.service
Wants=bluetooth.target

[Service]
Type=simple

#Environment="XDG_RUNTIME_DIR=/run/user/0"
#Environment="PULSE_RUNTIME_PATH=/run/user/0/pulse"

ExecStart=/usr/bin/bt-snapcast-autoplug.sh

KillMode=control-group
TimeoutStopSec=3

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

