[Unit]
Description=MPC Qt5

[Service]
ExecStartPre=/bin/systemctl stop start.service
ExecStartPre=/bin/sleep 0.1

EnvironmentFile=/etc/environment
ExecStart=/opt/quetzalcoatl -platform eglfs

ExecStartPost=/bin/sleep 0.1
ExecStopPost=/bin/bash /opt/serviceHelper.sh

[Install]
WantedBy=multi-user.target
