[Unit]
Description=MPC Qt5

[Service]
ExecStartPre=/bin/bash /opt/serviceHelper.sh mpc_mediaserver.service start

EnvironmentFile=/etc/environment
ExecStart=/opt/quetzalcoatl -platform eglfs

ExecStopPost=/bin/bash /opt/serviceHelper.sh mpc_mediaserver.service stop

[Install]
WantedBy=multi-user.target
