[Unit]
Description=PulseAudio Sound System
After=avahi-daemon.service network.target

[Service]
Type=simple
ExecStart=/usr/bin/pulseaudio --system --disallow-exit --disallow-module-loading
Restart=always

[Install]
WantedBy=multi-user.target

