[Unit]
Description=Alarm

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/Alarm -platform eglfs

ExecStopPost=/bin/sleep 0.2
ExecStopPost=/bin/systemctl start start.service


[Install]
WantedBy=graphical.target
