[Unit]
Description=Alarm GUI

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/Alarm -platform eglfs

ExecStopPost=/bin/bash /opt/serviceHelper.sh alarm_gui.service stop


[Install]
WantedBy=graphical.target
